---
- name: Remove legacy key
  ansible.builtin.apt_key:
    id: 46095ACC8548582C1A2699A9D27D666CD88E42B4
    state: absent
  tags:
    - elasticsearch

- name: Remove legacy repo
  ansible.builtin.apt_repository:
    repo: "deb https://artifacts.elastic.co/packages/{{ elasticsearch_major_version }}.x/apt stable main"
    filename: elastic
    update_cache: False
    state: absent
  tags:
    - elasticsearch

- name: Download repo key
  ansible.builtin.shell:
    cmd: "curl -sSL 'https://artifacts.elastic.co/GPG-KEY-elasticsearch' | gpg --dearmor --output {{ elasticsearch_keyring }}"
    creates: "{{ elasticsearch_keyring }}"
  tags:
    - elasticsearch

- name: Add apt repository
  ansible.builtin.apt_repository:
    repo: "deb [signed-by={{ elasticsearch_keyring }}] https://artifacts.elastic.co/packages/{{ elasticsearch_major_version }}.x/apt stable main"
    filename: elastic
    update_cache: True
    state: present
  tags:
    - elasticsearch

- name: Create required group
  ansible.builtin.group:
    name: "{{ elasticsearch_group }}"
    system: True
    state: present
  tags:
    - elasticsearch

- name: Create required user
  ansible.builtin.user:
    name: "{{ elasticsearch_user }}"
    group: "{{ elasticsearch_group }}"
    password: "!"
    ansible.builtin.shell: /usr/sbin/nologin
    home: /var/lib/elasticsearch
    create_home: False
    system: True
    state: present
  tags:
    - elasticsearch

- name: Pin package version
  ansible.builtin.copy:
    content: |
      Explantion: Pin added by elasticsearch role
      Package: elasticsearch
      Pin: version {{ elasticsearch_server_version }}*
      Pin-Priority: 1000
    dest: /etc/apt/preferences.d/elasticsearch
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  tags:
    - elasticsearch

- name: Enforce man dir
  ansible.builtin.file:
    path: /usr/share/man/man1
    recurse: True
    owner: root
    group: root
  tags:
    - elasticsearch

- name: Install required packages
  loop:
    - ca-certificates-java
    - "openjdk-{{ elasticsearch_openjdk_version }}-jre"
    - "elasticsearch={{ elasticsearch_server_version }}*"
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  environment:
    JAVA_HOME: "{{ elasticsearch_java_home }}"
    ES_PATH_CONF: /etc/elasticsearch
  tags:
    - elasticsearch

- name: Create data directory
  ansible.builtin.file:
    path: "{{ elasticsearch_storage_path }}"
    owner: "{{ elasticsearch_user }}"
    group: "{{ elasticsearch_group }}"
    mode: u=rwX,g=rX,o=
    state: directory
  tags:
    - elasticsearch

- name: Enforce data ownership
  ansible.builtin.file:
    path: "{{ elasticsearch_storage_path }}"
    owner: "{{ elasticsearch_user }}"
    group: "{{ elasticsearch_group }}"
    mode: u=rwX,g=rX,o=
  tags:
    - elasticsearch

- name: Create log directory
  ansible.builtin.file:
    dest: "{{ elasticsearch_logs_path }}"
    owner: "{{ elasticsearch_user }}"
    group: "{{ elasticsearch_group }}"
    mode: u=rwx,g=rx,o=rx
    state: directory
  tags:
    - elasticsearch

- name: Drop role files
  loop:
    - roles.yml
    - role_mapping.yml
    - users
    - users_roles
  ansible.builtin.file:
    path: "/etc/elasticsearch/{{ item }}"
    state: absent
  tags:
    - elasticsearch

- name: Write log4j2 config
  notify:
    - Restart elasticsearch
  ansible.builtin.copy:
    src: "{{ elasticsearch_major_version }}/log4j2.properties"
    dest: /etc/elasticsearch/log4j2.properties
    owner: root
    group: "{{ elasticsearch_group }}"
    mode: u=rw,g=rw,o=
  tags:
    - elasticsearch

- name: Write elasticsearch config
  notify:
    - Restart elasticsearch
  ansible.builtin.template:
    src: config.j2
    dest: /etc/elasticsearch/elasticsearch.yml
    owner: root
    group: "{{ elasticsearch_group }}"
    mode: u=rw,g=rw,o=
  tags:
    - elasticsearch

- name: Write jvm config
  notify:
    - Restart elasticsearch
  ansible.builtin.template:
    src: jvm.j2
    dest: /etc/elasticsearch/jvm.options
    owner: root
    group: "{{ elasticsearch_group }}"
    mode: u=rw,g=rw,o=
  tags:
    - elasticsearch

- name: Write default config
  notify:
    - Restart elasticsearch
  ansible.builtin.template:
    src: default.j2
    dest: /etc/default/elasticsearch
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  tags:
    - elasticsearch

- name: Start elasticsearch service
  ansible.builtin.systemd:
    name: elasticsearch
    state: started
    daemon_reload: True
    masked: False
    enabled: True
  tags:
    - elasticsearch

- name: Check installed plugins
  register: elasticsearch_plugins_list
  changed_when: False
  ansible.builtin.command: /usr/share/elasticsearch/bin/elasticsearch-plugin list
  environment:
    JAVA_HOME: "{{ elasticsearch_java_home }}"
    ES_PATH_CONF: /etc/elasticsearch
  tags:
    - elasticsearch

- name: Install defined plugins
  loop: "{{ elasticsearch_plugins_general + elasticsearch_plugins_extra }}"
  when:
    - elasticsearch_plugins_list.stdout is defined
    - item not in elasticsearch_plugins_list.stdout
    - item.state | default('present') == 'present'
  notify:
    - Restart elasticsearch
  ansible.builtin.command: "/usr/share/elasticsearch/bin/elasticsearch-plugin install -b {{ item.name | default(item) }}"
  environment:
    JAVA_HOME: "{{ elasticsearch_java_home }}"
    ES_PATH_CONF: /etc/elasticsearch
  tags:
    - elasticsearch

- name: Remove defined plugins
  loop: "{{ elasticsearch_plugins_general + elasticsearch_plugins_extra }}"
  when:
    - elasticsearch_plugins_list.stdout is defined
    - item in elasticsearch_plugins_list.stdout
    - item.state | default('present') == 'absent'
  notify:
    - Restart elasticsearch
  ansible.builtin.command: "/usr/share/elasticsearch/bin/elasticsearch-plugin remove {{ item.name | default(item) }}"
  environment:
    JAVA_HOME: "{{ elasticsearch_java_home }}"
    ES_PATH_CONF: /etc/elasticsearch
  tags:
    - elasticsearch

- name: Include exporter tasks
  when: elasticsearch_exporter_enabled | default(False)
  ansible.builtin.include_tasks: exporter.yml
  tags:
    - elasticsearch
    - elasticsearch-exporter

...
