ARGS="--es.uri={{ elasticsearch_exporter_connection }} {{ '--es.all' if elasticsearch_exporter_node == 'all' else '--es.node=' + elasticsearch_exporter_node }}{{ ' --es.shards' if elasticsearch_exporter_shards else '' }}{{ ' --es.snapshots' if elasticsearch_exporter_snapshots else '' }}{{ ' --es.indices' if elasticsearch_exporter_indicies else '' }}{{ ' --es.indices_settings' if elasticsearch_exporter_indicies_settings else '' }}{{ ' --es.cluster_settings' if elasticsearch_exporter_cluster_settings else '' }}"
